<div class="container-md">
  <h2 class="text-center mt-2 text-decoration-underline"> İzmir </h2> 
     <div class="container-md">
        <img src="assets/city/izmirr.jpg" style="width:100%">
        <div class="text-center">
          <small><i>Edirne Uzunköprü'den Selamlar</i></small> 
         </div>
      </div>  

      <div class="row">
        <div class="col-6">
          <h3 class="text-center animate__animated animate__bounce"> Şehir Tarihi </h3>
          <p class="animate__animated animate__fadeInLeft tanitim mt-3">
            <b> İzmir </b>  tarih boyunca <b>Doğu ve Batı'yı</b> bir arada barındıran bir kent olmuştur. <b>Selçuklu ilçesindeki Efes Antik Kenti</b>, şehrin bu karakteristik özelliğinin en önemli ve en temel tarihi yansımasıdır. <b>Efes M.Ö. 6000</b> yıllarında inşa edilmiştir. Kent önemli bir politika ve ticaret kenti olmuştur. <b>Roma İmparatorluğu döneminde Asya Eyaleti'nin başkentliğini yapmıştır.</b> <b>Hellenism'in en ihtişamlı yılları burada geçmiştir</b>. Artemis kültürünün en önemli kaynağı <b>Artemis Tapınağı Efes'tedir.</b>
            <b>Odeion</b>, <b>Magnesia</b>,<b>Heracles</b>, <b>Mazeus Mithridates</b> ve <b>Gymnasiumu Kapıları</b>, Roma dönemine ait bir okul olan <b>Gymnasion</b>, belediye binası olarak kullanılmış <b>Prytaneion ve Meryem Ana Kilisesi</b> görülmesi gereken mimari yapılardır.
            Bergama'da bulunan <b>Bergama Antik Kenti</b> de İzmir'in önemli bir tarihi değeridir. Burada bulunan mimari yapılar göz kamaştırır. <b>Roma Kenti</b>, <b>Bergama Kütüphanesi</b>,<b>Dionysos Tapınağı</b> Antik Kent'in içindedir.
            M.Ö. 6. yüzyılda Efes Kenti; bilim, sanat ve kültür üretiminde lokomotif bir kentti. <b>Ünlü Bilgin Heracleitos</b>, rüya yorumcusu Artemidoros, Şair Callinos, Şair Hipponaks, Bilgin Zenodots kentin yetiştirdiği önemli insanlardır.
          </p>
        </div>
        <div class="col-6">
          <div class="animate__animated animate__fadeInRight mt-5">
            <img src="assets/city/ankara3.jpg" style="width:100%">
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">
            <li class="animate__animated animate__bounceInUp"><b>Tarihi Saat Kulesi</b>:Fotoğraflarda, kartpostallarda görmeye aşina olduğumuz, İzmir'in simgesi haline gelmiş Saat Kulesi, İzmirlilerin buluşma, turistlerin ise fotoğraf çektirme noktası. Konak Meydanı'ndan bulunan 25 metre yüksekliğindeki bu kule, Osmanlı mimarisinden izler taşıyor. Yılbaşı, Cumhuriyet Bayramı gibi özel günlerde İzmirlilerin toplandığı ve bir arada kutlama yaptığı meydanı, günün 24 saati gezebilirsiniz. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Kemeraltı Çarşısı</b>:1600'lü yıllara tarihlenen ve şehrin en önemli ticaret merkezlerinden olan çarşıda; baharatçı, demirci, çivici ve kömürcü dükkanlarının yerini bugün hediyelik eşya satan mağazalar, sinema salonları, kafeteryalar almış. Yolunuz çarşıya düşerse İstanbul'daki Mısır Çarşısı'na benzeyen Kızlarağası Hanı'nda Türk kahvesi içmeyi unutmayın. Turistlerin favorisi özellikle damla sakızlı olanı.</li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Tarihi Asansör</b>:İzmir'in en çok turist çeken noktası burası. Mithatpaşa Caddesi'yle Halil Rıfat Paşa Caddesi arasında işleyen iki asansör, misafirlerine 58 metrede muhteşem bir İzmir manzarası sunuyor. Tarihi Asansör, İzmirlilerin "asansör çıkmaz sokağı" dedikleri, asıl adı, ünlü sanatçı burada yaşadığı için "Dario Moreno" olan sokakta bulunuyor. Tarihi yapının terasında, dinlenmek ve manzaranın keyfini çıkarmak isteyenler için bir kafe ve restoran bulunuyor.</li>
          </ul>
        </div>
        <div class="col-md-6">
            <h3 class="text-center"> Gezilecek Yerler </h3>
            <ul class="mt-3">
              <li class="animate__animated animate__bounceInUp"><b>İzmir Arkeoloji Müzesi</b>:Tarihi Asansör'e çok yakın olan, Konak'taki Bahri Baba Parkı'nın içinde yer alan müzede, İzmir ve çevresinde bulunan binlerce yıllık tarihi eserleri görmeniz mümkün. Giriş ücreti makul; Müzekart'ı olanlara ise bedava. Buraya kadar gelmişken arkeoloji müzesinin hemen yanı başındaki İzmir Etnoğrafya Müzesi'ne de uğrayın. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"> <b>Balçova Teleferik Tesisleri</b>:İzmirlilerin doğayla iç içe olmak ve piknik yapmak için tercih ettikleri bir tesis burası. Alsancak'tan kalkan otobüslerle 10 dakikada ulaşabileceğiniz tesislerde, teleferikle yolculuk yaklaşık 2,5 dakika sürüyor. İndiğiniz noktada ise sizi manzaranın tadını çıkarabileceğiniz bir seyir terası karşılıyor. Terasta, ayrıntılara düşkün olanlar için dürbünler de var.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Ege Üniversitesi Botanik ve Herbaryum Merkezi</b>:Doğaya ve botaniğe düşkünseniz burası tam size göre. Merkezde, bugüne dek görmediğiniz, hatta adını dahi duymadığınız canlı-cansız pek çok bitkiyi bir arada bulabilir, yeni dünyalar keşfetmenin tadına varabilirsiniz. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Kültürpark</b>: Şehrin dünyaya açılan kapısı ve vitrini diyebileceğimiz Kültürpark, İzmir Fuarı'nın olmadığı dönemlerde çeşitli kültür-sanat etkinliklerine evsahipliği yapıyor. İçerisinde, sergi ve konferans salonlarının dışında yürüyüş parkurları, spor alanları, lunapark, açıkhava tiyatrosu ve hayvanat bahçesi de bulunan Kültürpark, etkinliğin olmadığı zamanlarda da İzmirlilerin uğrak yeri. </li>       
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Konak Pier</b>:Konak Meydanı'ndan yürüyerek ulaşabileceğiniz Konak Pier, bu bölgenin en popüler mekanlarından. içerisinde çok sayıda kafe, restoran ve mağaza bulunun yapı, 18. yy'da Fransız mimar Gustav Eiffel tarafından tasarlanmış. Adeta bir kültür merkezi havası taşıyan mekan, bir sinema salonuna da evsahipliği yapıyor.</li>
             
            </ul>
        </div>
      </div>

      <hr/>
      <div class="row">
        <div class="col-md-6">
           <h3 class="text-center"> Festival Ve Fuar </h3> 
         <ul class="mt-3">
          <li class="animate__animated animate__bounceInUp"><b>Uluslararası Kukla Festivali</b>:Dünyanın dört bir yanından kukla tiyatrolarının tüm hünerlerini sunduğu festival her yıl mart ayında düzenleniyor.</li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b>Avrupa Caz Festivali</b>:Avrupa'nın ve Türkiye'nin önde gelen caz sanatçılarını bir araya getirmeyi amaçlayan festival, sanatseverlerle her yıl mart ayında buluşuyor.<li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b>Mart Dokuzu Ot Festivali</b>:Her sene mart ayında düzenlenen ve geleneksel beslenmeyi, iyi, temiz ve adil gıdayı öne çıkarmayı hedefleyen etkinlikte pek çok yöresel lezzeti tadabilirsiniz.</li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b>Çocuk Festivali</b>: 23 Nisan haftası düzenlenen ve müzikal, palyaço gösterisi, uçurtma şenliği ve dans gösterilerinin renklendirdiği etkinliğe özellikle çoçuğu olanlar mutlaka katılmalı.</li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b>Bornova Kiraz Festivali</b>:Kiraz yetiştiriciliğini teşvik etmek amacıyla haziran ayında düzenlenen etkinlik; yarışmalar, konserler ve halk oyunlarıyla oldukça şenlikli geçiyor.</li>
         </ul>
        </div>
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">
            <li class="animate__animated animate__bounceInUp"><b>Uluslararası Müzik Festivali</b>:Her sene temmuz ayında düzenlenen festivalde, klasik müzikten baleye güzel sanatların en başarılı örneklerini izlemeniz mümkün.</li>
            <hr/>
           <li class="animate__animated animate__bounceInUp"><b>Uluslararası Selçuk-Efes Kültür, Sanat ve Turizm Festivali</b>: Eylülün ilk haftasında gerçekleştirilen festival, dünyanın dört bir yanından gelen müzik gruplarının dinletileri, sergiler, dans gösterileri ve halk oyunlarıyla katılımcılarına kültür ve eğlence dolu günler vaat ediyor.</li>          
          </ul>
        </div>
      </div>  
      <hr/>

      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <p class="mt-5"> <b> İzmir köfte</b>: Adı üzerinde İzmir köfte; oralara kadar gidip de yemeden dönmek olmaz. Doğru adres ise Kemeraltı Çarşısı'ndaki Köfteci Mehmet. Mekan yalnızca köftesi değil, piyazı ve salatalarıyla da meşhur. Ününe karşın, salaş ve sunduğu kaliteye nazaran oldukça ekonomik bir mekan burası.</p>
          <hr/>
         <p> <b>Çöp şiş</b>: Ege'deyim ama ille de et yemek istiyorum diyenleri, Topçu Çöp Şiş'e alalım. 60 yıllık geçmişiyle şehrin köklü mekanlarından olan Topçu'nun zengin et menüsünde her damak zevkine uygun bir tat mevcut. Ama ilk kez gidecekler çöp şişi mutlaka denemeli.</p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center"> Ne Yenir Ne İçilir </h3> 
         <p class="mt-3"> <b>Boyoz</b>: Kahvaltı denince İzmirlilerin aklına boyoz-yumurta-çay üçlüsü geliyor. Sabahları İzmirlilerin önünde kuyruğa girdiği boyozcuların başında ise şehrin en işlek caddesi olan Kıbrıs Şehitleri'ndeki Dostlar Fırını geliyor. Müdavimlerinin "İzmir'deki ve hatta dünyadaki en iyi boyozcu" olarak tanımladıkları bu fırında patlıcanlısından tahinlisine pek çok çeşidi bir arada bulmak mümkün.</p>
          <hr/>
         <p>  <b>Kumru</b>: İzmir'in lezzetlerinden bahsedip de kumrudan ve artık şehirde adı kumruyla özdeşleşmiş olan Kumrucu Şevki'den söz etmemek olmaz. Kömürde kumruyu turşuyla birlikte sunan bu ünü metrakaresini aşmış mekan, sabahtan gecenin geç vakitlerine kadar bir şeyler atıştırmak isteyen İzmirlilerle dolup taşıyor. Bu nedenle 5-10 dakika sıra beklemeye hazırlıklı olun.</p>
          <hr/>
         <p> <b>Midye dolma</b>: Denizden babanız çıksa yer misiniz bilmiyorum ama İzmirlilerin özellikle de akşamcıların gözdesi olan Midyeli, deniz ürünlerine bakış açınızı değiştirecek bir mekan. Yalnızca çok ama çok lezzetli midye dolma değil, midyeyle yapılmış pilav ve tencere yemeklerini bulabileceğiz Midyeli'nin sahanda soslu ve güveçte midyesi mükemmel. Salma denilen noodle usulü midye ise mekanın spesiyalitelerinden. Kıbrıs Şehitleri Caddesi'nde yer alan Midyeli'ye gitmeden önce rezervasyon yaptırmayı unutmayın çünkü her daim dolu.</p>
          <hr/>
         <p> <b> Balık ve kalamar</b>: Şehirde balık ve kalamarın en tazesini yiyebileceğiniz pek çok mekan var. Ancak en iyisi, kendine özgü gizli tarifleriyle ser verip sır vermeyen Balık Pişiricisi Veli Usta. Demet Akbağ, Yılmaz Erdoğan, Cem Yılmaz gibi isimlerin müdavimi olduğu mekanın spesiyalitesi ise bir yiyenin bir daha unutamadığı dil şiş. Astronomik olmayan fiyatlara, taze balık/kaliteli servis kombinasyonunu bulabileceğiniz bir işletme burası.</p>

         
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center"> Dikkat Edilmesi Gerekenler </h3>
        <p class="mt-3"> <b>Kadifekale</b>, <b>Eşrefpaşa</b>,<b>Ballıkuyu ve Buca</b>, İzmirlilerin dahi çekinerek dolaştığı semtler. <b>Gündüz saatlerinde bile yankesicilik veya taciz olaylarının görüldüğü bu noktalara girerken çantanıza ve yalnız olmamaya dikkat edin. </b> <b>Geceleri ise Alsacak'ta kafe-barların olduğu ara sokaklar ve Kıbrıs Şehitleri Caddesi, temkinli olunması gereken noktalardan.</b></p>

        <p> Gelelim iletişime. İzmir'de, özellikle <b>merkezdeyseniz internete erişim oldukça kolay</b>. <b>En küçük kafelerde bile wi-fi mevcut</b>. Açık alanlarda dahi internet var. İzmir Büyükşehir Belediyesi'nin, İzmir Kalkınma Ajansı ile geçtiğimiz haziranda hayata geçirdiği proje sayesinde Gündoğdu Meydanı, Kültürpark, Konak Meydanı, Aşık Veysel Rekreasyon Alanı, Tarihi Havagazı Fabrikası, Buca Hasanağa Spor Kompleksi, Ahmet Adnan Saygun Sanat Merkezi ve çevresinde ücretsiz olarak internete bağlanabiliyorsunuz.</p>

        <p> <b>Ulaşım özellikle merkezde oldukça rahat</b>. İster minibüs, ister otobüs, isterseniz tren kullanın. Özellikle havalimanına gitmek için tren oldukça hızlı ve pratik bir seçenek. Alsancak Garı'ndan biniyor, Havalimanının içinde iniyorsunuz. Adnan Menderes istasyonunda indiğinizde kontuarlara ulaşmanız yalnızca 10 dakika sürüyor.</p>
        </div>
        <div class="col-md-6">
          <table class="charts-css column" style="width:60%;">  
            <h3 class="text-center"> Nüfus Ortalaması </h3>      
            <tbody>
              
              <tr>
                <td style="--size: calc( 35 / 100 )"> <p> Genç Nüfus  <br/> <span class="ms-4"> 35% </span></td>
               
              </tr>
              <tr>
                <td style="--size: calc( 51 / 100 )"> <p> Orta Nüfus <br/> <span class="ms-4"> 51% </span> </p></td>
              </tr>
              <tr>
                <td style="--size: calc( 14 / 100 )"> <p> Yaşlı Nüfus <br> <span class="ms-4">14%</span> </p></td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>  














</div>      