<div class="container-md">
  <h2 class="text-center mt-2 text-decoration-underline"> Ankara</h2> 
     <div class="container-md">
        <img src="assets/city/akara.jpg" style="width:100%">
        <div class="text-center">
          <small><i>Ankara Kalesinden Selamlar</i></small> 
         </div>
      </div>  
     
      <div class="row">
        <div class="col-6">
          <h3 class="text-center animate__animated animate__bounce"> Şehir Tarihi </h3>
          <p class="animate__animated animate__fadeInLeft tanitim">
            Ankara, 5000 yıldan uzun geçmişiyle pek çok medeniyetten ve uygarlıktan derin izler taşıyor. <br/> 
          Atatürk’ün daimi ikametgâhı olan ve her yıl milyonlarca kişi tarafından ziyaret edilen Anıtkabir’e ev sahipliği yapan Ankara; TMBB ve resmi daireleri, 19 tane üniversitesi, Atakule gibi modern yapıları ve dünyaca ünlü 53 tane müzeleriyle hem memur ve öğrenci kenti hem de ülkenin önemli turistik şehirlerinden biri. <br/>
          Millî Mücadele'nin karargâhı olan Ankara, Kurtuluş Savaşı’ndan sonra 1920’de TBMM’nin açılmasıyla birlikte başkent oldu. Merkezi konumundan dolayı seçilen Ankara’ya günümüzde de gelişmiş ulaşım ağlarıyla ülkemizdeki bütün şehirlerden kolayca gidilebiliyor. Tarihi değerinin yanı sıra modern ve gelişmiş bir sanayi şehri de olan Ankara’nın çevresi ise verimli tarım alanları, tüm dünyadan doğa sevenleri kendine çeken yemyeşil milli parklar, yüzlerce yıllık kaplıcaları ve doğal güzellikleri ile yerli ve yabancı turistlere her mevsim keyifli bir gezi deneyimi sunuyor. <br/>
        </div>
        <div class="col-6">
          <div class="animate__animated animate__fadeInRight mt-5">
            <img src="assets/city/ankara3.jpg" style="width:100%">
          </div>
        </div>
      </div>
      
      <hr/> 
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">
            <li class="animate__animated animate__bounceInUp"><b>Atatürk Orman Çiftliği</b>: Atatürk'e ait 52.000 dekar arazi üzerinde Atatürk'ün isteği ile kurulan Atatürk Orman Çiftliği, modern tarım tesislerinin yanı sıra çam ormanları, müze ve sergi salonları ve Atatürk Evi ile hem tarih hem de doğa severlerin ilgisini çeken yerler arasında. Atatürk Orman Çiftliği’nde üretilen organik ürünler de tüm Türkiye'de satılıyor ve çok seviliyor. Çiftlik, Ankara merkezine sadece 19 kilometre uzaklıkta yer alıyor.</li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Kızılcahamam Soğuksu Milli Parkı</b>: 1959 yılında milli park ilan edilen ve Türkiye'nin en eski milli parklarından biri olan bu yemyeşil cennet, bozkır ortasında yer alan Ankara’da el değmemiş doğal güzellikleri turistlerin akınına uğruyor. Şehir merkezine 80 kilometre uzaklıktaki milli park; zengin bitki çeşitliliği, yürüyüş ve bisiklet yollarıyla keyifli bir hafta sonu geçirmek için gidebileceğiniz yerlerden. Çam ormanlarıyla çevrili parkın içerisindeki tarihi hamamlar ve kaplıcalar da sağlık turizmi ile binlerce ziyaretçiye hizmet veriyor. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b> Augustus Tapınağı</b>: Ankara merkezinde binlerce yıllık geçmişi olan antik bir tapınak bulunuyor. Altındağ semtinde yer alan Augustus Tapınağı, M.Ö. 25 ve 20 yılları arasında inşa edilmiş bir eser. İçindeki ünlü Ankara Anıtı, yazıtlar ve kitabeleriyle ilgi gören tapınak, şehir merkezinde keyifli bir tarih gezisi sunuyor.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="text-center"> Gezilecek Yerler </h3>
            <ul>
              <li class="animate__animated animate__bounceInUp"> <b> Anıtkabir</b>:  Ankara gezilerinde ilk ziyaret edilmesi gereken yer olan Anıtkabir, Atatürk'ün ebedi dinlenme yeri. Her yıl özellikle 10 Kasım ve resmi tatillerde yüz binlerce kişi tarafından ziyaret edilen Anıtkabir, şehrin de en önemli simgesi. 1944 yılında inşa edilen, etkileyici ve benzersiz mimarisiyle dikkat çeken Anıtkabir’de Atatürk Müzesi ve Kurtuluş Savaşı Müzesi’ni de ziyaret edebilir, Atatürk'ün katıldığı savaşların anlatıldığı sergilerin yanı sıra Atatürk'ün madalya, nişan ve kişisel eşyalarını yakından inceleyebilirsiniz. Anıtkabir, Çankaya ilçesinde Akdeniz Caddesi üzerindeki Yücetepe’de yer alıyor. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"> <b> Anadolu Medeniyetleri Müzesi</b>:  Ankara Ulus'ta gezebileceğiniz bu etkileyici müze, 1997 Avrupa Yılın Müzesi ödülünü alan ve paha biçilmez binlerce tarihi eser barındıran Türkiye'nin en önemli müzelerinden biri. Atatürk'ün isteğiyle Anadolu'dan toplanan arkeolojik eserlerin sergilenmesiyle hizmete başlayan müzede Kaba Taş Devri’nden Osmanlı dönemine kadar uzanan sergileri keyifle gezebilirsiniz. Dünyanın en eski haritası ve 6200 yıllık Çatalhöyük planlarını da görebileceğini müzenin Hitit dönemine ait sergileri de çok ilgi görüyor. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b> Ankara Kalesi</b>: Ankara'nın tarihi simgesel yapılarından biri olan 42 kulesiyle ünlü Ankara Kalesi. Kale, bulunduğu tepeden sunduğu panoramik şehir manzaraları ile yerli ve yabancı turistlerin şehirde ilk uğradığı yerler arasında. Hem kale surlarından şehrin hem de kalenin etrafını saran tarihi konakların harika fotoğraflarını çekebilirsiniz. Ankara Kalesi, M.S. 7. yüzyılda Persler tarafından inşa edilmiş ve Osmanlılara kadar pek çok devlet ve imparatorluk tarafından kullanılmış.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"> <b> Ankara Etnografya Müzesi</b>: Türkiye'nin en eski müzelerinden biri olan Ankara Etnografya Müzesi, 1930 yılında Namazgah semtinde ziyarete açıldı. Orta Asya Türklerinden Selçuklu ve Osmanlı dönemine uzanan Türk kültürüne ait eserler, dönemlere göre değişen yaşam tarzları, kültürel simgeler, motifler, tarihi eserler, eşyalar ve dönem giysilerinin sergilendiği koleksiyonları keyifle gezebilirsiniz.</li>           
            </ul>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
           <h3 class="text-center"> Festival Ve Fuar </h3> 
         <ul>
          <li class="animate__animated animate__bounceInUp"> <b>Ankara Uluslararası Müzik Festivali</b>:  30 yıldan uzun zamandır her yıl nisan aylarında düzenlenen bu uluslararası festival, dünyanın pek çok ülkesinden gelen; klasik müzik, dans ve caz alanlarında 300'den fazla sanatçı ve müzisyeni konuk ediyor. Bir müzik ziyafeti şeklinde geçen festival boyunca workshoplar, atölyeler ve söyleşilere de katılarak keyifli zaman geçirebilirsiniz.</li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b> Uçan Süpürge Uluslararası Kadın Filmleri Festivali</b>: Kadın sorunlarına adanmış ender festivallerden biri olarak ilgi gören bu film festivali, mayıs ayı başında düzenleniyor ve tüm dünyadan kadın yönetmenleri ağırlıyor. Festival, kadın sorunlarını işleyen filmlerin gösterimiyle tüm dünyada ilgi görüyor. Kadın örgütleri, uluslararası kadın sivil toplum kuruluşları ve STK’ların da yer aldığı festivalde seminerler, workshoplar ve söyleşilere de katılabilirsiniz. Çankaya Çağdaş Sanatlar Merkezi'nde ziyaret edebileceğiniz festival, Uçan Süpürge Vakfı tarafından gerçekleştiriliyor.</li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b> Ankara Uluslararası Film Festivali</b>: 1988 yılından beri her yıl gerçekleştirilen, şehrin en köklü festivallerinden biri de Ankara Uluslararası Film Festivali. Eylül ayında düzenlenen festivale dünyanın pek çok ülkesinden onlarca yönetmen ve oyuncu filmleri ile katılıyor. Oyuncu ve yönetmen söyleşileri, yarışma filmlerini gösterimleri, film atölyeler ve workshoplarla çok yoğun geçen festivalin ödül töreni de oldukça görkemli.</li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b>Rock Station</b>: 1997 yılından beri gerçekleştirilen ve son yıllarda uluslararası bir etkinliğe dönüşen Rock Station, rock müzik severlerin akın ettiği festivallerden biri. Türkiye ve dünyadan pek çok ünlü grubun sahne aldığı festivalde iki gün boyunca rock müziğe doyacaksınız.</li>           
         </ul>
        </div>
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">
            <li class="animate__animated animate__bounceInUp"><b>Büyük Ankara Festivali</b>:  Şehrin yeni ve eğlenceli festivallerinden biri olan Büyük Ankara Festivali, 2017 yılından beri Ankara Büyükşehir Belediyesi tarafından düzenleniyor. Şehrin pek çok noktasında konserler ve dans gösterileri ile çok eğlenceli geçen festivale halkın da yoğun bir katılımı var. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Ankara Coffee Festival</b>:  Tüm ülkeden kahve severlerin ilgisini çeken bu ilginç festival; akustik konserler, sergiler ve dünyanın pek çok yerinden gelen kahvelerin tadımları ile şehrin eğlenceli festivalleri arasında. Kahve severlerin mutlaka uğraması gereken festival, eylül ayı sonunda Bilkent Center’da gerçekleştiriliyor.</li>          
          </ul>
        </div>
      </div>  
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-center"> Ne Yenir Ne İçilir </h3> 
          <p>
            <b>Ankara tava </b>, kuzu incik ve arpa şehriyeden hazırlanan bu yöresel yemeği pek çok restoranda bulabilirsiniz. Taş fırında pişen simitleri ile ünlü şehirde <b> Beypazarı güveci </b>, <b> çubuk turşuları </b>, soğuk kış günlerinde içinizi ısıtacak <b> inceğiz çorbası </b>, <b> kuru köfte </b>,<b> çoban kavurma </b> yöresel tatlı <b> şibit tatlısı'</b> da mutlaka denemeniz gereken lezzetlerden.
          </p>
          <p>
            <b> Altındağ Denizciler Caddesi </b> üzerinde hizmet veren <b> Boğaziçi Lokantası </b>, Çankaya'da bulunan <b> Meşhur Fikret Ankara Tava Pide Salonu </b>, Kuleli Sokak'ta hizmet veren ve geleneksel Osmanlı mutfağından lezzetler tadabileceğiniz <b> Trilye Restaurant </b>, Çankaya Hatun Caddesi'nde bulunan <b> Göksu Lokantası </b> ve şehrin en ünlü kebapçılarından biri olan <b> Kebap 49'da</b> şehrin en sevilen restoranları arasında yer alıyor.
          </p>
        </div>
      </div>
      <hr/>  
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center"> Dikkat Edilmesi Gerekenler </h3>
          <p>  Şehir içinde hizmet veren toplu taşıma araçlarından faydalanmak için Ankara Kart alabilirsiniz. Pek çok merkezi noktada satış bayileri ve dolum otomatları bulunan Ankara Kart, kullanıcılarına çeşitli indirimler de sunuyor.</p>
          <p> Kış aylarında çok soğuk ve kar yağışlı, yaz aylarında ise kurak ve sıcak olan Ankara’yı bu mevsimlerde gezerken yanınızda mevsime göre kalın giysiler, kaymayan ayakkabılar, bol su ve güneş şapkası gibi eşyalar almanızı öneririz. </p>
          <p> Kültür ve Turizm Bakanlığı’nın işlettiği 50’den fazla müzeye, ören yerlerine ve tarihi mekanlara kolayca giriş yapmak için gezinizden önce Müzekart alabilirsiniz.</p>
          <p> Şehrin tarihi camilerini ve türbelerini gezmeyi planlıyorsanız, ziyaretinizde mekana uygun giyinmeye dikkat etmeniz gerekiyor.</p>
        </div>
        <div class="col-md-6">
          <table class="charts-css column" style="width:60%;">  
            <h3 class="text-center"> Nüfus Ortalaması </h3>      
            <tbody>
              
              <tr>
                <td style="--size: calc( 35 / 100 )"> <p> Genç Nüfus  <br/> <span class="ms-4"> 35% </span></td>
               
              </tr>
              <tr>
                <td style="--size: calc( 51 / 100 )"> <p> Orta Nüfus <br/> <span class="ms-4"> 51% </span> </p></td>
              </tr>
              <tr>
                <td style="--size: calc( 14 / 100 )"> <p> Yaşlı Nüfus <br> <span class="ms-4">14%</span> </p></td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>  












</div>