*{
    overflow:hidden;
}
h2{
    font-family: 'Mulish', sans-serif;
}

.tanitim{line-height:25px;
font-size:16px;

font-family: 'Mulish', sans-serif;
}

.ankaraeg{
    background-color: coral;
  box-shadow: 10px 10px 5px lightblue;
} 