<div class="container-md">
  <h2 class="text-center mt-2 text-decoration-underline"> İstanbul </h2> 
     <div class="container-md">
        <img src="assets/city/istanbull.jpg" style="width:100%">
        <div class="text-center">
          <small><i> İstanbul Büyük Mecidiye Camii'den Selamlar</i></small> 
         </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <h3 class="text-center animate__animated animate__bounce"> Şehir Tarihi </h3>
          <p class="animate__animated animate__fadeInLeft tanitim">
            Uzun yıllar <b> Bizans </b> ve <b> Osmanlı imparatorluklarına </b> başkentlik yapmış <b> İstanbul </b> aynı zamanda, <b> Türkiye’nin</b> de ticaret ve kültür başkentidir. 14 milyonu aşkın nüfusuyla dünyanın en büyük <b> beşinci şehri </b>. Zaten İstanbul’un tek handikabı da kalabalığı ve trafiği. Sakin ve hafta için mesai saatleri içerisinde daha rahat gezebileceğiniz İstanbul, aynı zamanda iki yakada kurulan ve içinden deniz geçen tek şehirdir.        
            Bir yanı Avrupa kıtasında, bir başka yanı da Asya kıtasında yer alır. 
          </p>
            <p> 
              İki kıta arası ulaşım köprüler, vapur ya da Marmaray yani boğaz tüneliyle gerçekleşir. <b> İstanbul </b>, <b> Bizans </b> ve <b> Osmanlı</b> döneminden kalma çok fazla tarihi esere sahiptir. Sayısız kilise ve camisi vardır. Ayna zamanda <b> 3 semavi dinden </b> biri olan Musevi dinine ait eserler de bulunur. Bu 3 dine ait ibadethanelerin yanı sıra sarayları ve müzeleri de dikkat çekicidir. En popüler yeri hiç şüphesiz şehre ayrı bir hava veren ve her saati her mevsimi ayrı güzel olan <b> Boğaziçi </b>’dir.
            </p>  
           
        </div>
        <div class="col-6">
          <div class="animate__animated animate__fadeInRight mt-5">
            <img src="assets/city/istanbulll.jpg" style="width:100%">
          </div>
        </div>
      </div>
      <hr/> 
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">
            <li class="animate__animated animate__bounceInUp"><b>Ayasoyfa</b>: Yapımına 532 yılında başlanan Ayasofya, dünyanın 8.harikası olarak adlandırılmaktadır. Günümüzde hala heybetli kubbesiyle dikkat çeken Ayasofya kilise ve cami olarak kullanımından sonra artık müzeye çevrilmiştir. Sultanahmet meydanında yer alır. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b> Topkapı Sarayı</b>: İstanbul’un başkentlik yaptığı Osmanlığı İmparatorluğu’nun yaşadığı saraydır. Haremlik, selamlık, kutsal emanetler gibi bölümleri vardır. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b> Sultanahmet Camiisi</b>: Ayasofya ile karşılıklı konumlanmış şehrin önemli camilerinden biridir. 1609-1616 yılları arasında Sultan I. Ahmet tarafından yaptırılmıştır. Özellikle mavi çini ve vitrayları sebebiyle Blue Mosque olarak da adlandırılmaktadır. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Süleymaniye Camisi</b>: Kanuni Sultan Süleyman tarafından Mimar Sinan’a yaptırılmıştır. Kanuni’nin İstanbul’un fethinden sonra 4.padişah olması sebebiyle 4 minaresi, toplamda da 10. Osmanlı padişahı olduğu için 10 şerefesi bulunmaktadır.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="text-center"> Gezilecek Yerler </h3>
            <ul>
              <li class="animate__animated animate__bounceInUp"> <b> Kapalıçarşı</b>: Dünyanın en eski kapalı çarşılarından biri olan Kapalıçarşı altın, kıymetli eşyalar ve el yapımı halı gibi çok değerleri ürünlerin satıldığı bir yerdir. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"> <b> Dolmabahçe</b>: Osmanlı İmparatorluğunun Topkapı Sarayı’ndan sonra ikamet ettiği yerdir. Denize sıfırdır. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Piyer Loti</b>: Haliç’e karşı bir tepede eski bir kahvehanenin bulunduğu yerdedir.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"> <b>Yerebatan Sarnıcı</b>: Bizans imparatoru tarafından şehrin su ihtiyacını karşılamak üzere 6.yüzyılda yapılmıştır.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Beylerbeyi Sarayı</b>: İstanbul’un Anadolu yakasındaki Beylerbeyi semtinde inşa edilmiş bir Osmanlı sarayıdır.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Beyoğlu</b>: Beyoğlu, barları, cafe, restoran ve eğlence salonlarıyla İstanbul’un en turistik yerlerinden biridir.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Ortaköy</b>: Ortaköy, İstanbul’un boğaz kenarında şirin bir semtidir. Çok sayıda kafe, restoran vardır ve eli işi takılar satılır.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Kız Kulesi</b>: Üsküdar Salacak sahilinde denizin üzerindeki bir adaya inşa edilmiş tarihi bir yapıdır. Salacak ve Kabataş’tan kalkan motorlarla gidilebilir. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b> Adalar</b>: İstanbul’un sayfiye yerlerinden birisidir. Ulaşım sadece denizden sağlanır. Prens adaları olarak bilinir ve Büyükada, Heybeliada, Kanlıca ve Burgaz Ada olmak üzere 4 adadan oluşur. </li>
            </ul>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
           <h3 class="text-center"> Festival Ve Fuar </h3> 
         <ul class="mt-4">
          <li class="animate__animated animate__bounceInUp"> <b> Uluslararası İstanbul Müzik Festivali (Haziran-Temmuz) </b></li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b> Uluslararası İstanbul Film Festivali (Nisan)</b></li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b>İstanbul Caz Festivali (Temmuz)</b></li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b> Uluslararası İstanbul Tiyatro Festivali (Mayıs-Haziran)</b></li>
          <hr/>  
          <li class="animate__animated animate__bounceInUp"> <b>Uluslararası İstanbul Kukla Festivali (Ekim-Kasım) </b></li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b>Uluslararası İstanbul Opera Festivali (Haziran) </b></li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b>İstanbul Shopping Festivali (Haziran) </b></li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b>İstanbul Dragon Festivali (Mayıs) </b></li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b>İstanbul Kısa Film Festivali (Kasım)</b></li>
         </ul>
        </div>
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">  
            <li class="animate__animated animate__bounceInUp"><b>İstanbul Lale Festivali (Nisan)</b></li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>İstanbul Boğaziçi Festivali (Haziran)</b></li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Uluslararası İstanbul Bienali (Eylül-Ekim-Kasım)</b></li>             
            <hr/>
          </ul>
        </div>
      </div>  
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-center mb-3"> Ne Yenir Ne İçilir </h3> 
          <p>
            <b> İstanbul</b> gerek <b>Türk mutfağı</b> gerekse de <b> dünya mutfağından </b> çok lezzetli yemekler bulabileceğiniz yemek içme konusunda çok zengin bir şehirdir. Ancak kente özgü yiyecekler ne diye sorarsanız <b> lüfer balığı </b>, <b> simit </b>, <b> lokum </b>, <b> badem ezmesi </b>, <b> Kanlıca yoğurdu </b>,<b> Beykoz kebabı </b>,<b> Sarıyer böreği</b>,<b> sakızlı Muhallebi </b>,<b> Vefa Bozası </b>, <b>İstanbul Pilavı</b>,<b> lakerda ve favayı </b> sayabiliriz. Bunlar İstanbul’un tarihi lezzetleri ancak günümüzde balık ve kebap çeşitleri konusunda dünyaca ünlü restoranlara sahip. Döner, lahmacun, balık ve <b> Ege lezzetleri </b> konusunda seçenekler çok.
          </p>
          <p>
            Sahil hattındaki kebapçıların yanı sıra günümüzde <b> Aksaray çevresinde </b> çok sayıda kebapçı vardır. <b> Balıkçılar </b> özellikle sahil şeridinde yer alır. <b> Yeşilköy, Sarıyer, Anadolu Hisarı, Anadolu Kavağı ve Küçükyalı </b> gibi sahil semtlerinde lüks balıkçılar bulunur. <b> Florya, Etiler gibi </b> yine lüks kebapçılara rastlayabilirsiniz. <b> Beyoğlu, Bağdat Caddesi, Karaköy ve Nişantaşı </b> semtlerde ise dünya mutfağından zincir restoranlara rastlayabilirsiniz. Sokak aralarında ün yapmış pideciler de bulunur. <b> Ortaköy’</b> kumru ve kumpir, <b> Bebek-Rumelihisarı </b> hattında kahvaltı, <b> Eyüp Piyer-Loti’</b> Türk kahvesi içmek de kentin geleneksel lezzetleri arasında yer alır. <b> Kokoreç severler için Beyoğlu Balık Pazarı, Bostancı </b>, <b> midye severler için de Büyükada’yı önerebiliriz.</b>
          </p>
        </div>
      </div>
      <hr/>  
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center mb-3"> Dikkat Edilmesi Gerekenler </h3>
          <p> <b> İstanbul </b> büyük ve kalabalık bir şehir olduğu için <b> gezilerinizi trafik saatlerine göre ayarlamaya çalışın </b>. <b> Toplu ulaşımda metro, metrobüs, vapur ve Marmaray’ı tercih edebilirsiniz. </b> Hatta yakın mesafelerde yürümek ya da taksi kullanmak da iyi bir çözüm olabilir. Tüm toplu ulaşım araçlarını <b> “İstanbulkart”</b> denilen ve içerisine para yükleyebileceğiniz kartlarla yapabilirsiniz.</p>
          <p> Gezmek için <b> bölge bölge ayırmak daha doğru olacaktır </b>. <b> Sultanhamet Bölgesi, Boğaz hattı, Taksim-Beyoğlu </b> oradan <b> tünelle Kapalıçarşı Bölgesi, Nişantaşı, Bağdat Caddesi, Yeşilköy gibi bölgelerde ayrı ayrı gezilebilir. </b> <b> Taksim’den Nişantaşı, Bağdat Caddesi Yeşilköy taraflarına sarı dolmuş taşımacılığı da yapılır </b>. İstanbul’da çok sayıda müze olduğu için gezerken <b> müzekart </b> almak iyi bir çözümdür. <b> Yabancılar için 80 TL olan Museum Pass kartı var </b>. <b> Yerliler için de 100 TL’den </b> başlayan fiyatlarla Müzekart çeşitleri bulunuyor. <b> Müzekartlarınızı Ayasofya, Topkapı Sarayı gibi turistik noktalardan ya da internet üzerinden satın alabilirsiniz </b>. Şehir genel olarak güvenlidir yine de <b> yan kesicilere karşı dikkatli olmanız tavsiye edilir.</b> </p>
        </div>
        <div class="col-md-6">
          <table class="charts-css column" style="width:60%;">  
            <h3 class="text-center"> Nüfus Ortalaması </h3>      
            <tbody>
              
              <tr>
                <td style="--size: calc( 35 / 100 )"> <p> Genç Nüfus  <br/> <span class="ms-4"> 35% </span></td>
               
              </tr>
              <tr>
                <td style="--size: calc( 51 / 100 )"> <p> Orta Nüfus <br/> <span class="ms-4"> 51% </span> </p></td>
              </tr>
              <tr>
                <td style="--size: calc( 14 / 100 )"> <p> Yaşlı Nüfus <br> <span class="ms-4">14%</span> </p></td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>  













































</div>          