<div class="container-md">
  <h2 class="text-center mt-2 text-decoration-underline"> Edirne </h2> 
     <div class="container-md">
        <img src="assets/city/edirnee.jpg" style="width:100%">
        <div class="text-center">
          <small><i>Edirne Uzunköprü'den Selamlar</i></small> 
         </div>
      </div>  

      <div class="row">
        <div class="col-6">
          <h3 class="text-center animate__animated animate__bounce"> Şehir Tarihi </h3>
          <p class="animate__animated animate__fadeInLeft tanitim mt-3">
            <b> Kapııkule sınır kapısı </b> ile <b> Türkiye’nin Avrupa’ya açılan kapılarından biri olan Edirne </b>, hem tarihi hem de doğal güzellikleriyle <b> yılın her mevsimi yerli ve yabancı turistleri ağırlıyor. </b> I. Murat tarafından 1361 yılında fethedildikten sonra başkent ilan edilen ve <b> İstanbul'un alınmasına kadar 90 yıl boyunca başkent olarak hizmet veren Edirne </b>, Mimar Sinan’ın ve Osmanlı döneminin en önemli yapılarıyla tarihi atmosferini günümüzde hala koruyor. 
            Süleymaniye Camii ve ülkemizin en eski camilerinden olan Eski Camii gibi tarihi mekanları ziyaret edebileceğiniz şehir; Meriç ve Tunca nehirlerinin doğal güzellikleri, Gala Gölü’nün vahşi yaşam zenginliği, Saros Körfezi’nin berrak suları ve güzel plajlarıyla Edirne, keşfedilmeyi bekleyen pek çok hazineye sahip. 
          </p>
          <p class="animate__animated animate__fadeInLeft"> 
             <b> Osmanlı saray mutfağından </b> pek çok yemeği tadabileceğiniz Edirne, gastronomi alanında da ülkemizin sayılı şehirleri arasında. Şehrin birçok yerinin yanı sıra <b> nehir kenarlarında da kaliteli restoranlar ve balık restoranları bulabilirsiniz.</b> Trakya Üniversitesi ile binlerce öğrenciyi misafir eden tarihi şehir, birbirinden güzel onlarca müzesiyle de Türkiye’nin kültür başkentlerinden biri konumunda.
          </p>
        </div>
        <div class="col-6">
          <div class="animate__animated animate__fadeInRight mt-5">
            <img src="assets/city/ankara3.jpg" style="width:100%">
          </div>
        </div>
      </div>

      <hr/> 
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">
            <li class="animate__animated animate__bounceInUp"><b>Selimiye Camii</b>: 2012 yılında UNESCO Dünya Miras Listesi’ne giren ve Edirne’nin simgesel yapılarından biri olan Selimiye Camii, dünya tarihinin en büyük mimarlarından biri olan Mimar Sinan tarafından 1574 yılında inşa edildi. Şehre hakim yüksek bir noktada konumlanan ve Osmanlı çini işçiliğinin en güzel örnekleri ile süslü Selimiye Camii’nin tek kubbesi Allah'ın birliğini, beş kademeli cami pencereleri İslam'ın beş şartını ve dört vaaz kürsüsü olması ise İslam'ın dört mezhebine gönderme yapıyor. Edirne gezinizde Mimar Sinan'ın ustalık eserim diye tanımladığı Selimiye Camii'ne mutlaka uğramalısınız. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Sarayiçi</b>: Edirne'nin Osmanlı İmparatorluğu’nun başkenti olduğu zamanlarda saray bölgesi olan Sarayiçi, günümüzde Kırkpınar yağlı güreşlerine ev sahipliği yapan bölümü ve özenle korunan tarihi mekanlarıyla keyifli bir gezi alanı. Osmanlı döneminden kalan etkileyici köprüleri ve yapıları inceleyebileceğiniz Sarayiçi bölgesi, sizi tarihte bir yolculuğa çıkaracak.</li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Gökçetepe Tabiat Parkı</b>: Dünyada kendini temizleyebilen az sayıdaki körfezden biri olan Saros Körfezi’nin kıyısında yer alan ve el değmemiş doğal güzellikleriyle dikkat çeken Gökçetepe Tabiat Parkı, doğa severlerin Edirne'de mutlaka uğraması gereken yerlerden. Keşan ilçesindeki tabiat parkı, kilometrelerce uzunluğundaki çam ormanları ve sarp yamaçları ile doğa sporları için çok elverişli.</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h3 class="text-center"> Gezilecek Yerler </h3>
            <ul class="mt-3">
              <li class="animate__animated animate__bounceInUp"> <b>Gala Gölü Milli Parkı</b>:Trakya’nın kuş cenneti olan adlandırılan, 160’dan fazla kuş türüne ve 50 bine yakın kuşa ev sahipliği yapan Gala Gölü, Enez ve İpsala ilçeleri arasında yer alıyor. Dünyanın her yerinden doğa severlerin akın ettiği ve milli park ilan edilerek koruma altına alınan Gala Gölü, onlarca çeşit su kuşundan göçmen kuşlara, endemik bitki türlerinden asırlık çam ve çınar ağaçlarına kadar pek çok güzelliğe sahip ve her mevsim büyüleyici doğa manzaraları sunuyor.  </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"> <b>Saros Körfez</b>: Kristal berraklığındaki sularıyla Türkiye'nin önemli dalış merkezlerinden biri olan Saros Körfezi, özellikle yaz aylarında rengarenk balıklarla yüzebileceğiniz, tüplü veya tüpsüz dalışlar yapabileceğiniz, tekne gezilerine çıkabileceğiniz ve balık avlama turlarına katılabileceğiniz çok sevilen bir yer. Kendini temizlemesiyle tanınan ve zengin balık çeşitliliğine sahip körfezin çevresi de muhteşem manzaralar sunan balık restoranlarıyla çevrili. </li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Ergene Köprüsü</b>:  2. Murat döneminde 1943 yılında inşa edilen ve günümüze kadar sağlam kalmayı başaran Ergene Köprüsü, 1392 metre uzunluğuyla dünyanın en uzun köprülerinden biri. Köprüden ismini alan Uzunköprü ilçesinde yer alan Ergene Köprüsü, hem eşsiz mimarisi ve hem de çevresini saran doğal güzelliklerle keyifli bir gezi deneyimi sunuyor.</li>
              <hr/>
              <li class="animate__animated animate__bounceInUp"> <b>Lozan Anıtı ve Müzesi </b>:  Tarih severlerin Edirne’de uğrayabileceği yerlerden biri de Karaağaç merkezinde yer alan ve 1998 yılında açılan Lozan Anıtı ve Müzesi. Barış sembolleriyle süslü etkileyici anıt, aynı zamanda Lozan Antlaşması'na ait pek çok belge ve dönem gazetelerini içeren güzel bir müzeye de sahip.</li>           
              <hr/>
              <li class="animate__animated animate__bounceInUp"><b>Eski Camii</b>: Edirne'nin en eski tarihi yapılarından biri olan ve 1403 yılında Süleyman Çelebi tarafından inşa ettirilen Eski Camii, aynı zamanda Osmanlı döneminden günümüze kalan en eski yapı olmasıyla da ünlü. Dokuz kubbeli camii, Osmanlı’nın en etkileyici çok kubbeli camileri arasında yer alıyor. Çiniler ve minyatürlerle süslü iç mekanları ve etkileyici mimarisi ile Eski Camii, Edirne'de kesinlikle ziyaret edilmesi gereken yerlerden.</li>
            </ul>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
           <h3 class="text-center"> Festival Ve Fuar </h3> 
         <ul class="mt-3">
          <li class="animate__animated animate__bounceInUp"> <b>Kırkpınar Yağlı Güreşleri</b>: 650 yıldan uzun süredir devam eden ve ülkemizin en köklü etkinliklerinden olan Kırkpınar yağlı güreşleri, temmuz ayı başında Edirne’de düzenleniyor. Onlarca sporcunun katıldığı ve kıran kırana geçen güreş müsabakalarından sonra halk oyunları, konserler ve çeşitli etkinliklerle eğlenebilirsiniz. Haziran sonu veya temmuz başı Edirne'de bulunuyorsanız, Kırkpınar yağlı güreşlerine mutlaka uğramanızı öneririz. </li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b>Uluslararası Balkan Müzik Festivali</b>: Edirne'nin en yeni festivallerinden olan ve 2021 yılında üçüncüsü düzenlenecek bu müzik festivali, Trakya Kültür Sanat ve Eğitim Vakfı tarafından İtalyan Kilisesi’nde, her yıl ekim ayı ortasında düzenleniyor. 4 gün boyunca pek çok farklı ülkeden gelen ünlü müzisyenin ve grubun sahne aldığı festival, müzik sevenlerin ülkemizde mutlaka uğraması gereken etkinlikler arasında. </li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"><b>Trakya Müzik Festivali Enez</b>: Trakya'nın başka bir önemli müzik festivali de her yıl ağustos başında düzenlenen Trakya Müzik Festivali Enez. Denizin ve güneşin tadını çıkarabileceğiniz Enes Plajı’nda düzenlenen festivalde onlarca rock grubu ve müzisyen konser veriyor. 4 gün süren festivale ülkenin her yerinden gençlerin yoğun bir ilgisi var.</li>
          <hr/>
          <li class="animate__animated animate__bounceInUp"> <b>Trakya Fest</b>: Trakya’nın en eğlenceli yaz festivallerin biri olan ve her yıl temmuz ayı ortasında Keşan’ın Erikli sahilinde gerçekleştirilen Trakya Fest, tam bir müzik şöleni. Binlerce müzik severi buluşturan festivalde muhteşem Saros Körfezi manzaraları eşliğinde müzik dinleyebilir ve doyasıya yüzebilirsiniz.</li> 
          <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Trakya Rap Festivali</b>: Özellikle gençlerin çok ilgisini çeken festivallerden biri olan Trakya Rap Festivali, ülkemizin en sevilen rap müzisyenlerinin katılımıyla kasım ayı sonunda düzenleniyor. Gloria Park Edirne’de gerçekleştirilen festival, tüm gün boyunca onlarca konserle çok hareketli geçiyor. </li>
                     
         </ul>
        </div>
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
          <ul class="mt-4">
            <li class="animate__animated animate__bounceInUp"><b>Edirne Kitap Fuarı</b>: Türkiye'nin önemli kitap fuarlarından biri olan ve ekim ortasında Edirne Kipa Alışveriş Merkezi’nde gerçekleştirilen Edirne Kitap Fuarı, üniversite öğrencilerinin yoğun olarak bulunduğu şehirde çok ilgi çekiyor. Yüzlerce yayınevi ve yazarın katıldığı fuarda imza günleri ve söyleşilere katılabilir; kitapları indirimli olarak satın alabilirsiniz.</li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Kakava ve Hıdırellez Şenlikleri</b>:Her yıl mayıs başında Edirne merkezinde baharın gelişini kutlamak için birçok eğlenceli ve geleneksel etkinlikle düzenlenen bu şenliklere yöre halkının büyük bir katılımı var. Kakava ateşinin yakılması ve pilav dağıtımıyla başlayan şenlikler, Meriç ve Tunca nehirleri kıyısındaki etkinliklerle devam ediyor. </li>
            <hr/>
            <li class="animate__animated animate__bounceInUp"><b>Lüleburgaz Bisiklet Festivali</b>: Edirne'nin tarihi ilçelerinden Lüleburgaz'da düzenlenen bisiklet festivali, tüm ülkeden bisiklet severlerin buluştuğu bir etkinlik. Her yıl ekim ayı başında düzenlenen festivalde Lüleburgaz ve Edirne'nin doğal güzellikleri arasında pedal çevirebilir, temiz havada spor yapabilir ve kamp alanlarında çadırınızı kurarak temiz havanın tadını çıkarabilirsiniz. </li>                    
          </ul>
        </div>
      </div>  
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <div class="animate__animated animate__fadeInLeft ankaraeg">
            <img src="assets/city/ankaraeg.jpg" style="width:100%;">
          </div>
        </div>
        <div class="col-md-6">
          <h3 class="text-center"> Ne Yenir Ne İçilir </h3> 
          <p>
            <b> Osmanlı İmparatorluğu'nun </b> en önemli şehirlerinden olan ve belirli bir dönem başkentlik yapan <b> Edirne </b>, geleneksel Osmanlı ve Türk mutfaklarından yemeklerin yanı sıra Avrupa mutfaklarının etkisinde kalan zengin yöresel mutfağıyla da ziyaretçilerine pek çok seçenek sunuyor. Şehri gezerken ilk denemeniz gereken lezzet ise artık Edirne’nin simgesi haline gelen <b> tava ciğeri </b>. Şehir içinde onlarca yıldır hizmet veren restoranlarda bu lezzeti tadabilirsiniz. Osmanlı saray mutfağının bir parçası olan <b> pofuduk Edirne köftesi </b>, <b>Rumeli paçası </b>, <b> etli kandil mantısı</b>, <b>içli pilav ile servis edilen ciğer sarma</b>, <b>satır kebabı</b>, <b>etli marul sarma ve bulgurlu kol böreği</b> de mutlaka denemeniz gereken yöresel yemekler arasında.
          </p>  
          <p>
           Tatlı severlerin <b>peynir helvası</b>, <b> badem ezmesi ve gaziler helvasını</b> da denemeden dönmemesi gereken şehirde Meriç Nehri kenarındaki şık balık restoranlarında ise taze nehir balıklarını güzel manzaralar eşliğinde tadabilirsiniz.
          <b> Ciğerci Niyazi Usta</b>, <b>Ciğerci Kazım ve İlhan Usta</b>, <b> muhteşem Meriç Nehri manzaraları sunan Emirgan Restoran</b>, <b>Lalezar Restoran</b>,<b> Arslanzade</b>,<b>Makedon göçmenlerin açtığı Tadım Lokantası</b>, <b>et yemeği menüleriyle ünlü Vargo Restoran</b> ve<b>Hanedan Restoran</b> ise Edirne’nin en sevilen restoranlarından bazıları.
          </p>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center"> Dikkat Edilmesi Gerekenler </h3>
          <p>  Şehir içinde hizmet veren toplu taşıma araçlarından faydalanmak için <b> Edirne Kart </b> alabilirsiniz. Pek çok merkezi noktada satış bayileri ve dolum otomatları bulunan Ankara Kart, kullanıcılarına çeşitli indirimler de sunuyor.</p>
          <p> <b> Kış aylarında çok soğuk ve kar yağışlı</b>, yaz aylarında ise kurak ve sıcak olan Edirne’yi bu mevsimlerde gezerken yanınızda mevsime göre kalın giysiler, kaymayan ayakkabılar, bol su ve güneş şapkası gibi eşyalar almanızı öneririz. </p>
          <p> Kültür ve Turizm Bakanlığı’nın işlettiği 50’den fazla müzeye, ören yerlerine ve tarihi mekanlara kolayca giriş yapmak için gezinizden önce Müzekart alabilirsiniz.</p>
          <p> Şehrin tarihi camilerini ve türbelerini gezmeyi planlıyorsanız, ziyaretinizde mekana uygun giyinmeye dikkat etmeniz gerekiyor.</p>
        </div>
        <div class="col-md-6">
          <table class="charts-css column" style="width:60%;">  
            <h3 class="text-center"> Nüfus Ortalaması </h3>      
            <tbody>
              
              <tr>
                <td style="--size: calc( 35 / 100 )"> <p> Genç Nüfus  <br/> <span class="ms-4"> 35% </span></td>
               
              </tr>
              <tr>
                <td style="--size: calc( 51 / 100 )"> <p> Orta Nüfus <br/> <span class="ms-4"> 51% </span> </p></td>
              </tr>
              <tr>
                <td style="--size: calc( 14 / 100 )"> <p> Yaşlı Nüfus <br> <span class="ms-4">14%</span> </p></td>
              </tr>
            </tbody>
          </table>
       </div>
      </div>  














</div>      